
*vault*.yml
*secrets*.yml
inventories/homelab/group_vars/all/bws.yml
/.ansible
ansible/facts_cache/

.vault_pass
*.vault
ansible/.vault
.vscode
.vscode/settings.json

logs/
*.log
*.retry
tmp/

/.venv/
/venv/
/env/

__pycache__/
*.pyc
*.pyo



# .env
*.env