---
- name: Install required packages for Debian/Ubuntu
  ansible.builtin.package:
    name:
      - sssd
      - sssd-tools
      - libpam-sss
      - ldap-utils
    state: present

- name: Configure SSSD configuration file
  ansible.builtin.template:
    src: sssd.conf.j2
    dest: /etc/sssd/sssd.conf
    owner: root
    group: root
    mode: '0600'
  notify: Restart sssd

- name: Enable SSSD and mkhomedir in PAM
  ansible.builtin.command: pam-auth-update --enable sssd --enable mkhomedir --force
  changed_when: false

- name: Force handlers to run now (to restart sssd)
  ansible.builtin.meta: flush_handlers

- name: Check user from LDAP
  ansible.builtin.command: id {{ lldap_test_user | default('g4ng') }}
  register: lldap_g4ng_info
  ignore_errors: true
  changed_when: false

- name: Display g4ng info
  ansible.builtin.debug:
    msg: "{{ lldap_g4ng_info.stdout }}"
