[defaults]
inventory               = ./inventories/homelab/hosts.yml
roles_path              = ./playbooks/roles
collections_paths       = ./collections
remote_tmp              = ./tmp
local_tmp               = ./tmp

interpreter_python      = auto_silent
remote_user             = root

forks                   = 10
gathering               = smart
host_key_checking       = False

# Fact caching for performance
fact_caching            = jsonfile
fact_caching_connection = ./facts_cache
fact_caching_timeout    = 3600

# Logging
log_path                = ./logs/ansible.log

# Output
stdout_callback         = yaml
bin_ansible_callbacks   = true

[ssh_connection]
ssh_args                = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining              = true

[privilege_escalation]
become                  = false
become_method           = sudo
become_user             = root
